{% extends "base.html" %}

{% block content %}
    <h1>
        {% if driver.first_name %}
            {{ driver.first_name }} {{ driver.last_name }}
        {% else %}
            {{ driver.username }}
        {% endif %}
        <br>
        <h5><strong>License number:</strong> {{ driver.license_number }}</h5>
    </h1>
    <button class="btn btn-success" type="button">
        <a style="color: white; text-decoration: none;" href="{% url 'taxi:driver-update' pk=driver.id %}">Update</a>
    </button>
    <button class="btn btn-danger" type="button">
        <a style="color: white; text-decoration: none;" href="{% url 'taxi:driver-delete' pk=driver.id %}">Delete</a>
    </button>
    <hr>
    <div class="ml-0">
        <table class="table">
            {% if driver.cars.all %}
                <thead class="thead-dark">
                <tr>
                    <th>Car{{ driver.cars.all|pluralize }}</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
            {% endif %}
            {% for car in driver.cars.all %}
                <tr>
                    <td>
                        <a href="{% url 'taxi:car-detail' pk=car.id %}">
                            {{ car.manufacturer.name }} {{ car.model }}</a>
                    </td>
                    <td>
                        <button class="btn btn-success btn-lg btn-block" type="button">
                            <a style="color: white; text-decoration: none;"
                               href="{% url 'taxi:car-update' pk=car.id %}">UPDATE</a>
                        </button>
                    </td>
                </tr>
            {% empty %}
                <p>To add cars click "Update" button.</p>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
