{% extends "base.html" %}

{% block content %}
    <h1>Taxi Service Home</h1>
    <p>Welcome to taxi service home page!</p>
    <hr>
    <h5>The Taxi service has the following record counts:</h5>
    <ul>
        <li><strong>Cars:</strong> <a href="{% url 'taxi:car-list'%}">{{ num_cars }}</a></li>
        <li><strong>Drivers:</strong> <a href="{% url 'taxi:driver-list'%}">{{ num_drivers }}</a></li>
        <li><strong>Manufacturers:</strong> <a href="{% url 'taxi:manufacturer-list'%}">{{ num_manufacturers }}</a></li>
    </ul>
    <p>You have visited this page {{ num_visits }} time{{ num_visits|pluralize }}.</p>
{% endblock %}
