html, body {
    margin-top: 0px;
}

#custom-border {
    border: none;
    padding-left: 10px;
    background-color: #F7F7F7;
    border-radius: 5px;
}

#login-block {
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    background-color: lightgray;
}