body {
    margin-top: 0px;
}

.nav .nav-item {
    background-color: red;
}
.nav .nav-item.active,
.nav .nav-item:hover {
    background-color: pink;
}

#login-block {
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    background-color: lightgray;
}