body {
    margin-top: 0px;
}

.nav .nav-item {
    color: lightgray;
}

.nav .nav-item.active,
.nav .nav-item:hover {
    color: #A0A0A0;
}

#login-block {
    border-radius: 5px;
    padding: 5px 5px 5px 10px;
    background-color: lightgray;
}